* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav{
    height: 80px;
    background:#000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px)/2);
}
.nav-icon {
    height: 30px; /* Điều chỉnh chiều cao của icon */
    margin-right: 10px; /* Thêm khoảng cách giữa icon và text */
    vertical-align: middle; /* Căn giữa icon với text */
}
.logo {
    color: #fdcc04;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 1.5rem;
}

nav a {
    text-decoration: none;
    color: #fdcc04;
    padding: 0 1.5rem;
}
.hero {
    background: #000;
}
.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px)/2);
}

.hero-container .column-left h1 {
    font-size: 40px;
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: beige;
    padding: 0rem 2rem;
}


button {
    padding: 1rem 3rem; /* Kích thước đệm x và y */
    font-size: 1rem;
    border: none;
    color: antiquewhite;
    background: #000;
    cursor: pointer;
    border-radius: 50px;
    transition: background 0.3s, color 0.3s, transform 0.3s ease; /* Thêm hiệu ứng chuyển đổi cho background, color và transform */
}

button:hover {
    background: #fdcc04;
    color: #000;
    transform: scale(1.1); /* Phóng to nút khi di chuột qua */
}
