body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

nav {
    width: 200px;
    background-color: #f4f4f4;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    display: block;
}

nav ul li a:hover {
    color: #6c63ff;
}

main {
    flex: 1;
    padding: 20px;
}

header {
    color: #333;
    font-size: 2em;
    font-weight: bold;
    border-bottom: 1px solid #c2c0c0;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    font-weight: bold;
    background-color: #f4f4f4; /* Tô khối màu xám nhạt */
    padding: 10px; /* Khoảng cách giữa văn bản và viền khối */
    border-radius: 5px; /* Bo góc */
    margin-bottom: 20px;
}

p {
    line-height: 1.5;
    text-align: justify;
    color: #333
}