button {
    padding: 1ren 3rem;
    font-size: 1rem;
    border: none;
    color:antiquewhite;
    background: #000;
    cursor: pointer;
    border-radius: 50px;
}

button:hover{
    background: #fff;
    color:#000;
}